---
import Layout from "../layouts/Layout.astro";
import gera from "../assets/geraOpt.svg";
import Workout from "../components/Workout.astro";
import CopiedToast from "../components/CopiedToast.astro";
import WorkoutIndex from "../components/WorkoutIndex.astro";
---

<Layout title="Welcome to Astro.">
  <main class="container mx-auto px-1 sm:px-6 lg:px-8 py-12 sm:py-24"
  x-data="{ showToast: false, showWorkoutIndex: false }">
  <button @click="showWorkoutIndex = true">Index</button>
    <div class="mx-auto max-w-3xl">
      <img
        src={gera.src}
        width={gera.width}
        height={gera.height}
        alt="Golden era image"
      />
      <Workout />
    </div>
    <CopiedToast />
    <WorkoutIndex />
  </main>
</Layout>
