---
import Layout from "../layouts/Layout.astro";
import gera from "../assets/geraOpt.svg";
import Workout from "../components/Workout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="container mx-auto px-4 sm:px-6 lg:px-8 py-12 sm:py-24">
    <div class="mx-auto max-w-3xl">
      <img
        src={gera.src}
        width={gera.width}
        height={gera.height}
        alt="Golden era image"
      />
      <Workout />
    </div>
  </main>
</Layout>
