<div class="transition-all duration-200 hover:scale-110">
  <svg
    width="168"
    height="55"
    viewBox="0 0 168 55"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_945_1889)">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M161.029 55H6.71222C3.30886 55 0.537109 51.9002 0.537109 48.125V6.875C0.537109 3.08604 3.30886 0 6.71222 0H161.029C164.429 0 167.204 3.08604 167.204 6.875V48.125C167.204 51.9002 164.429 55 161.029 55Z"
        fill="black"></path>
      <path
        d="M88.337 18.1942C87.224 18.1942 86.2858 17.7587 85.5438 16.9015C84.8079 16.0683 84.3971 14.9196 84.4155 13.7469C84.4155 12.4953 84.7957 11.4358 85.5438 10.5957C86.2827 9.73845 87.2209 9.30298 88.3339 9.30298C89.4347 9.30298 90.3729 9.73845 91.1271 10.5957C91.8753 11.4632 92.2555 12.5227 92.2555 13.7469C92.2432 15.0019 91.863 16.0614 91.1271 16.8981C90.3882 17.7621 89.45 18.1942 88.337 18.1942ZM55.2202 18.1942C54.1317 18.1942 53.1874 17.7656 52.4147 16.9186C51.6482 16.0751 51.2588 15.0087 51.2588 13.7503C51.2588 12.4919 51.6482 11.4255 52.4147 10.582C53.172 9.73502 54.1164 9.30641 55.2202 9.30641C55.7598 9.30641 56.2841 9.42642 56.7869 9.66987C57.2806 9.90647 57.6822 10.2288 57.9797 10.6231L58.0532 10.7226L57.2223 11.6346L57.1365 11.5215C56.6674 10.8974 56.0388 10.5923 55.2079 10.5923C54.4659 10.5923 53.819 10.8871 53.2855 11.4701C52.7489 12.0564 52.476 12.8245 52.476 13.7537C52.476 14.683 52.7489 15.451 53.2855 16.0374C53.819 16.6203 54.4659 16.9152 55.2079 16.9152C55.999 16.9152 56.6643 16.6203 57.1825 16.0374C57.4891 15.6945 57.6792 15.2145 57.7466 14.6075H55.0822V13.3251H58.8903L58.9056 13.4417C58.9332 13.6577 58.9608 13.8806 58.9608 14.0863C58.9608 15.2693 58.6419 16.226 58.0103 16.9323C57.2928 17.769 56.3546 18.1942 55.2202 18.1942ZM99.2523 18.0125H98.078L94.4814 11.5764L94.5121 12.7353V18.009H93.3378V9.48814H94.6777L94.7145 9.55329L98.0964 15.6156L98.0657 14.4601V9.48814H99.2523V18.0125ZM79.5128 18.0125H78.3232V10.7706H76.2597V9.48814H81.5732V10.7706H79.5097V18.0125H79.5128ZM75.2908 18.0125H74.1042V9.48814H75.2908V18.0125ZM68.622 18.0125H67.4355V10.7706H65.372V9.48814H70.6855V10.7706H68.622V18.0125ZM64.6208 17.9987H60.0707V9.48814H64.6208V10.7706H61.2604V13.1091H64.2927V14.3778H61.2604V16.7163H64.6208V17.9987ZM86.4146 16.0202C86.945 16.6135 87.5889 16.9118 88.337 16.9118C89.1066 16.9118 89.7351 16.6203 90.2594 16.0202C90.7807 15.4373 91.0443 14.6727 91.0443 13.7503C91.0443 12.8279 90.7807 12.0598 90.2625 11.4803C89.7321 10.8871 89.0851 10.5888 88.3401 10.5888C87.5705 10.5888 86.9419 10.8803 86.4207 11.4803C85.8995 12.0633 85.6358 12.8279 85.6358 13.7503C85.6358 14.6727 85.8964 15.4408 86.4146 16.0202Z"
        fill="white"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M84.3069 29.9141C81.4094 29.9141 79.0607 32.3726 79.0607 35.7638C79.0607 39.1242 81.4247 41.6136 84.3069 41.6136C87.2043 41.6136 89.553 39.1379 89.553 35.7638C89.553 32.3726 87.2043 29.9141 84.3069 29.9141ZM84.3069 39.2956C82.7217 39.2956 81.3573 37.828 81.3573 35.7501C81.3573 33.6413 82.7247 32.2046 84.3069 32.2046C85.892 32.2046 87.2564 33.6413 87.2564 35.7501C87.2595 37.8417 85.892 39.2956 84.3069 39.2956ZM72.8611 29.9141C69.9636 29.9141 67.615 32.3726 67.615 35.7638C67.615 39.1242 69.9789 41.6136 72.8611 41.6136C75.7586 41.6136 78.1072 39.1379 78.1072 35.7638C78.1072 32.3726 75.7555 29.9141 72.8611 29.9141ZM72.8611 39.2956C71.2759 39.2956 69.9115 37.828 69.9115 35.7501C69.9115 33.6413 71.279 32.2046 72.8611 32.2046C74.4463 32.2046 75.8107 33.6413 75.8107 35.7501C75.8107 37.8417 74.4463 39.2956 72.8611 39.2956ZM59.2414 31.7005V34.1762H64.555C64.3925 35.5649 63.9816 36.5902 63.3531 37.2931C62.5743 38.1641 61.3724 39.1104 59.2537 39.1104C55.9883 39.1104 53.4342 36.1616 53.4342 32.5098C53.4342 28.858 55.9883 25.9091 59.2537 25.9091C61.0167 25.9091 62.3014 26.6874 63.255 27.6818L64.8248 25.9262C63.5003 24.5066 61.7373 23.4197 59.266 23.4197C54.7864 23.4197 51.0273 27.5001 51.0273 32.496C51.0273 37.5057 54.7833 41.5724 59.266 41.5724C61.6851 41.5724 63.5003 40.6878 64.9352 39.0213C66.3977 37.3857 66.8607 35.078 66.8607 33.2161C66.8607 32.6366 66.8209 32.1154 66.7381 31.6731H59.2384C59.2414 31.6697 59.2414 31.7005 59.2414 31.7005ZM114.95 33.6276C114.511 32.3143 113.186 29.9004 110.47 29.9004C107.778 29.9004 105.54 32.2697 105.54 35.7501C105.54 39.035 107.753 41.5998 110.731 41.5998C113.122 41.5998 114.514 39.9643 115.087 39.0042L113.312 37.6737C112.724 38.651 111.905 39.2922 110.743 39.2922C109.568 39.2922 108.747 38.6955 108.201 37.5194L115.195 34.2791C115.195 34.2825 114.95 33.6276 114.95 33.6276ZM107.818 35.5821C107.763 33.3224 109.388 32.1737 110.55 32.1737C111.466 32.1737 112.23 32.6778 112.49 33.4116L107.818 35.5821ZM102.136 41.2501H104.433V24.0643H102.136V41.2501ZM98.3649 31.2136H98.2822C97.764 30.5244 96.7798 29.9004 95.5227 29.9004C92.9134 29.9004 90.5096 32.4686 90.5096 35.7672C90.5096 39.0522 92.9011 41.5896 95.5227 41.5896C96.7644 41.5896 97.764 40.9621 98.2822 40.2591H98.3649V41.0992C98.3649 43.3315 97.2979 44.535 95.5779 44.535C94.1705 44.535 93.2967 43.4035 92.941 42.4571L90.945 43.3897C91.5183 44.9328 93.0483 46.8427 95.5748 46.8427C98.2668 46.8427 100.548 45.0699 100.548 40.746V30.2501H98.3772V31.2136C98.3803 31.2136 98.3649 31.2136 98.3649 31.2136ZM95.7281 39.2956C94.1429 39.2956 92.8184 37.8143 92.8184 35.7672C92.8184 33.703 94.1429 32.208 95.7281 32.208C97.2979 32.208 98.5152 33.7202 98.5152 35.7672C98.5305 37.8143 97.301 39.2956 95.7281 39.2956ZM125.702 24.0643H120.211V41.2501H122.507V34.742H125.705C128.247 34.742 130.746 32.6812 130.746 29.41C130.746 26.1388 128.256 24.0643 125.702 24.0643ZM125.77 32.3417H122.504V26.444H125.77C127.49 26.444 128.462 28.0316 128.462 29.3929C128.462 30.7404 127.478 32.3417 125.77 32.3417ZM139.951 29.8832C138.283 29.8832 136.562 30.7096 135.851 32.5098L137.887 33.4561C138.325 32.5098 139.129 32.1874 139.978 32.1874C141.168 32.1874 142.37 32.983 142.397 34.4025V34.5843C141.986 34.3237 141.085 33.9259 140.006 33.9259C137.807 33.9259 135.578 35.27 135.578 37.7903C135.578 40.098 137.381 41.5793 139.389 41.5793C140.932 41.5793 141.781 40.8009 142.311 39.8991H142.394V41.2295H144.608V34.646C144.608 31.5805 142.572 29.8832 139.951 29.8832ZM139.662 39.2956C138.911 39.2956 137.859 38.8841 137.859 37.828C137.859 36.4976 139.172 35.9936 140.291 35.9936C141.303 35.9936 141.781 36.237 142.382 36.573C142.216 38.1161 141.051 39.2819 139.662 39.2956ZM152.684 30.2501L150.047 37.7046H149.964L147.233 30.2501H144.761L148.861 40.6706L146.524 46.4621H148.916L155.223 30.2501H152.684ZM132.012 41.2501H134.309V24.0643H132.012V41.2501Z"
        fill="white"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M13.3658 10.3589C13.0101 10.7876 12.8047 11.4425 12.8047 12.2997V42.704C12.8047 43.5612 13.0101 44.2162 13.378 44.6276L13.4731 44.7202L28.7054 27.6853V27.3047L13.4608 10.2664L13.3658 10.3589Z"
        fill="url(#paint0_linear_945_1889)"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M33.7729 33.3806L28.6924 27.6989V27.3011L33.7729 21.6194L33.8833 21.6948L39.8929 25.5146C41.613 26.5982 41.613 28.3881 39.8929 29.4853L33.8833 33.3052L33.7729 33.3806Z"
        fill="url(#paint1_linear_945_1889)"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M33.8835 33.3052L28.6926 27.5L13.3652 44.6412C13.9263 45.3133 14.8676 45.3887 15.9193 44.7338L33.8835 33.3052Z"
        fill="url(#paint2_linear_945_1889)"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M33.8835 21.6949L15.9193 10.2834C14.8676 9.61132 13.9233 9.7039 13.3652 10.376L28.6926 27.5L33.8835 21.6949Z"
        fill="url(#paint3_linear_945_1889)"></path>
      <path
        opacity="0.2"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M33.7727 33.1814L15.931 44.5175C14.9345 45.1587 14.0454 45.1141 13.472 44.5312L13.377 44.6375L13.472 44.7301C14.0454 45.3096 14.9345 45.3576 15.931 44.7164L33.8954 33.3048L33.7727 33.1814Z"
        fill="black"></path>
      <path
        opacity="0.12"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M39.894 29.2865L33.7588 33.1817L33.8692 33.3052L39.8787 29.4854C40.7403 28.9367 41.1634 28.2166 41.1634 27.5C41.1113 28.1584 40.6728 28.7824 39.894 29.2865Z"
        fill="black"></path>
      <path
        opacity="0.25"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M15.9198 10.4824L39.8936 25.7137C40.6724 26.204 41.1108 26.8452 41.1783 27.5002C41.1783 26.7835 40.7552 26.0634 39.8936 25.5148L15.9198 10.2835C14.1998 9.18283 12.8047 10.1018 12.8047 12.2997V12.4986C12.8047 10.2972 14.1998 9.39543 15.9198 10.4824Z"
        fill="white"></path>
    </g>
    <defs>
      <linearGradient
        id="paint0_linear_945_1889"
        x1="27.3391"
        y1="11.9717"
        x2="2.61098"
        y2="17.8633"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#00A0FF"></stop>
        <stop offset="0.00657" stop-color="#00A1FF"></stop>
        <stop offset="0.2601" stop-color="#00BEFF"></stop>
        <stop offset="0.5122" stop-color="#00D2FF"></stop>
        <stop offset="0.7604" stop-color="#00DFFF"></stop>
        <stop offset="1" stop-color="#00E3FF"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_945_1889"
        x1="42.136"
        y1="27.5"
        x2="12.3857"
        y2="27.5"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFE000"></stop>
        <stop offset="0.4087" stop-color="#FFBD00"></stop>
        <stop offset="0.7754" stop-color="#FFA500"></stop>
        <stop offset="1" stop-color="#FF9C00"></stop>
      </linearGradient>
      <linearGradient
        id="paint2_linear_945_1889"
        x1="31.0609"
        y1="30.6588"
        x2="8.06668"
        y2="65.2648"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FF3A44"></stop>
        <stop offset="1" stop-color="#C31162"></stop>
      </linearGradient>
      <linearGradient
        id="paint3_linear_945_1889"
        x1="9.50563"
        y1="0.245872"
        x2="19.7653"
        y2="15.7029"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#32A071"></stop>
        <stop offset="0.0685" stop-color="#2DA771"></stop>
        <stop offset="0.4762" stop-color="#15CF74"></stop>
        <stop offset="0.8009" stop-color="#06E775"></stop>
        <stop offset="1" stop-color="#00F076"></stop>
      </linearGradient>
      <clipPath id="clip0_945_1889">
        <rect
          width="166.667"
          height="55"
          fill="white"
          transform="translate(0.537109)"></rect>
      </clipPath>
    </defs>
  </svg>
</div>
