<div class="flex justify-end space-x-2">
  <button
    @click="showWorkoutIndex = true"
    class="px-4 py-2 bg-yellow-400 text-red-500 font-title rounded rotate-3 hover:bg-[#3338DD] hover:text-[#FAA717] transition-colors"
    >Workout index</button
  >
  <button
    @click="showAbout = true"
    class="px-4 py-2 bg-[#446196] text-[#EFE5D4] font-title rounded rotate-2 hover:bg-[#3338DD] hover:text-[#FAA717] transition-colors"
    >About</button
  >
</div>
