---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-[#ECEDEF]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ultra&family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Workouts from the 'Golden Era' of bodybuilding"
    />
    <meta property="og:image" content="/ogImage2x.jpg" />
    <script
      defer
      data-domain="goldenera.squaddy.app"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body
    class="bg-[url('/src/assets/whiteWallLrg.jpg')] bg-auto opacity-0 animate-[fadeOpacity_0.3s_ease_forwards_0.2s] min-h-screen overflow-x-clip"
    x-data="{showWorkoutIndex: false, showAbout: false}"
  >
    <slot />
  </body>
  <script>
    import Alpine from "alpinejs";

    Alpine.store("workoutStore", {
      activeWorkout: 0,

      workouts: [
        {
          title: "Franco's chest",
          imageSrc: "francoHead.png",
          exercises: [
            "Superset: bench press + cable crossover. 3x (15, 10, 4) - 3x20",
            "Superset: dumbbell fly + cable crossover. 3x (20, 15, 6) - 3x20",
            "Incline bench press 3x 15",
            "Barbell pullovers 3x 25",
            "Tricep dip 3x AMRAP",
            "Cable crossovers 3x 25",
          ],
        },
        {
          title: "Franco's shoulders",
          imageSrc: "francoHead.png",
          exercises: [
            "Lateral raises 4x 10",
            "Bent-over reverse lateral raises 6x 10",
            "Behind-the-neck press 4x 10",
            "Dumbbell front raise (alternating) 3x 8",
            "Cable lateral raise 3x 10",
          ],
        },
        {
          title: "Franco's back",
          imageSrc: "francoHead.png",
          exercises: [
            "Pull-ups 6x 10-15",
            "T-bar rows 4x 10",
            "Seated cable rows 4x 10",
            "Superset: single arm bent-over row + hammer grip pull-up 3x 10",
          ],
        },
        {
          title: "Franco's arms",
          imageSrc: "francoHead.png",
          exercises: [
            "Superset: tricep pushdown + standing dumbbell curls. 4x8",
            "Superset: barbell skull crusher + barbell preacher curl. 4x8",
            "Superset: french press + seated incline dumbbell curl. 4x8",
          ],
        },
        {
          title: "Franco's legs",
          imageSrc: "francoHead.png",
          exercises: [
            "Back squats 7x (20, 15, 10, 8, 6, 4, 2)",
            "Leg press 4x (50, 25, 15, 8)",
            "Leg extension 6x 20",
            "Barbell lunge 3x 12-15",
            "Deadlift 6x (5, 5, 5, 3, 1, 1)",
          ],
        },
        {
          title: "Arnie's chest",
          imageSrc: "arnieHead.png",
          exercises: [
            "Bench press 5x 20-6 (pyramid style)",
            "Incline barbell press 5x 10-15",
            "Dumbbell fly - flat bench 5x 10-15",
            "Dumbbell pullover 5x 15-20",
          ],
        },
        {
          title: "Arnie's back",
          imageSrc: "arnieHead.png",
          exercises: [
            "Pull-ups 5x 15-8 (pyramid style)",
            "T-bar row 5x 10-15",
            "Bent-over barbell row 5x 10-15",
            "Dumbell rows 5x 12",
          ],
        },
        {
          title: "Arnie's shoulders",
          imageSrc: "arnieHead.png",
          exercises: [
            "Clean and press 5x 5",
            "Superset: Arnold press + dumbbell front raise. 5x 6 - 5x 8-10",
            "Superset: rear delt fly + upright row.  5x 12 - 5x 10",
          ],
        },
        {
          title: "Arnie's legs #1",
          imageSrc: "arnieHead.png",
          exercises: [
            "Back squat 5x 8-12",
            "Straight leg deadlift 5x 8-12",
            "Good morning 5x 8-12",
            "Lunges 5x 8-12",
            "Superset: leg extension + hamstring curl. 5x 8-12",
            "Superset: standing + seated calf raise. 5x 8-12",
          ],
        },
        {
          title: "Arnie's legs #2",
          imageSrc: "arnieHead.png",
          exercises: [
            "Front squat 5x 8-12",
            "Deadlift 5x 8-12",
            "Good morning 5x 8-12",
            "Lunges 5x 8-12",
            "Superset: leg extension + hamstring curl. 5x 8-12",
            "Superset: standing + seated calf raise. 5x 8-12",
          ],
        },
        {
          title: "Arnie's bizeps",
          imageSrc: "arnieHead.png",
          exercises: [
            "Barbell curls 5x (30, 12, 10, 8, 6) pyramid style",
            "Superset: incline db curl + concentration curl 5x (20, 15, 12, 10, 10)",
          ],
        },
        {
          title: "Arnie's trizeps",
          imageSrc: "arnieHead.png",
          exercises: [
            "Close grip bench 5x (30, 12, 10, 8, 6)",
            "Superset: triceps pushdown + one arm overhead tricep ext 5x (20, 15, 12, 10, 10)",
          ],
        },
        {
          title: "Serge's quads & chest",
          imageSrc: "sergeHead.png",
          exercises: [
            "Back squat 8x 12",
            "Leg press 8x 12",
            "Leg extension 8x 12",
            "Bench press 8x 12",
            "Dumbbell fly - flat bench 8x 12",
            "Incline bench press 8x 12",
            "Dumbbell fly - incline bench 6x 12",
            "Dumbbell pullovers 6x 12",
          ],
        },
        {
          title: "Serge's back & hams",
          imageSrc: "sergeHead.png",
          exercises: [
            "Chin-up 6x 12",
            "Lat pull down - behind 8x 12",
            "Lat pull down - front 6x 12",
            "Bent over row 6x 12",
            "Leg curl - lying 8x 12",
            "Leg curl - standing 8x 12",
            "Calf raise - standing 4x 30",
          ],
        },
        {
          title: "Serge's arms & shoulders",
          imageSrc: "sergeHead.png",
          exercises: [
            "Strict press - behind the neck 6x 12",
            "Dumbbell front raise (alternating) 6x 12",
            "Upright row 6x 12",
            "Lateral raise 6x 12",
            "Bicep curl (cable) 8x 12",
            "Tricep pushdown 8x 12",
            "Barbell curl 8x 12",
            "Dips 8x 12",
          ],
        },
        {
          title: "Mike Mentzer's Day 1",
          imageSrc: "mikeHead.png",
          exercises: [
            "Superset: leg extension + leg press 1x 6-8",
            "Back squat 1x 6-8",
            "Hamstring curl 2x 6-8",
            "Calf raise 2x 6-8",
            "Leg press calf raise 1x 6-8",
            "Bench press (incline) 3x 6-10",
            "Dumbbell fly 2x 6-8",
            "Tricep dip 2x 6-8",
            "Lying triceps extension 2x 6-8",
          ],
        },
        {
          title: "Mike Mentzer's Day 2",
          imageSrc: "mikeHead.png",
          exercises: [
            "Superset: dumbbell pullover + underhand pulldown 2x 6-8",
            "Bent-over barbell row 2x 6-8",
            "Superset: shrugs + upright row 2x 6-8",
            "Superset: lateral raise + db strict press 2x 6-8",
            "Superset: dumbbell reverse fly + rear delt row 2x 6-8",
            "Barbell curl 1x 6-8",
            "Concentration curl 2x 6-8",
          ],
        },
        {
          title: "Lou Ferrigno's chest & back",
          imageSrc: "louHead.png",
          exercises: [
            "Dumbbell bench press 5x 6",
            "Incline bench press 5x 6",
            "Dumbbell pullover 5x 6",
            "Chest fly 5x 6",
            "T-bar row 5x 6",
            "Tricep dips 5x 6",
            "Deadlift 5x 6",
            "Bent-over row 5x 6",
            "Pull-up 5x 6",
          ],
        },
        {
          title: "Lou Ferrigno's shoulders & arms",
          imageSrc: "louHead.png",
          exercises: [
            "Military press 4x 10",
            "Dumbbell shoulder press  4x 10",
            "Front raise 4x 10",
            "Lateral raise 4x 10",
            "Barbell curl 4x 10",
            "Dumbbell curl 4x 10",
            "Concentration curl 4x 10",
            "Cable pushdown 4x 8",
            "Standing french press 4x 8",
            "Skull crushers 4x 10",
          ],
        },
        {
          title: "Lou Ferrigno's legs",
          imageSrc: "louHead.png",
          exercises: [
            "Hamstring curl 5x 10-15",
            "Leg extension 5x 10-15",
            "Leg press 5x 10-15",
            "Back squat 5x 10-15",
            "Hack squat 5x 10-15",
            "Calf raise 10x 6-10",
          ],
        },
        {
          title: "Sergio's day 1",
          imageSrc: "sergioHead.png",
          exercises: [
            "Superset: bench press + chin ups. 7x 8 (ascending weight) - 7 15-5 ",
            "Superset: dumbbell fly (flat) + dips. 5x 15",
          ],
        },
        {
          title: "Sergio's day 2",
          imageSrc: "sergioHead.png",
          exercises: [
            "Strict press 5x 15",
            "Barbell curl 5x 5",
            "French curl 5x 5",
            "Scott curl (barbell) 5x 10",
            "Scott curl (dumbbell) 5x 5",
            "Tricep pushdown  5x 15",
          ],
        },
        {
          title: "Sergio's day 3",
          imageSrc: "sergioHead.png",
          exercises: [
            "Sit-ups 10x 50",
            "Leg raises 5x 20",
            "Back squat 5x 5",
            "Calf raise 10x 8",
          ],
        },
        {
          title: "Sergio's day 4",
          imageSrc: "sergioHead.png",
          exercises: [
            "Bench press 7x 5",
            "Strict press (behind neck) 5x 5",
            "Machine row 5x 5",
            "Shoulder press (seated, dumbbells) 5x 8",
            "Dips 5x 8",
          ],
        },
        {
          title: "Sergio's day 5",
          imageSrc: "sergioHead.png",
          exercises: [
            "Strict press 3x 10",
            "Barbell curls 3x 5",
            "French curls 3x 5",
            "Superset: tricep pushdown + chin-up (behind the neck). 3x 15 - 5x 5",
          ],
        },
        {
          title: "Sergio's day 6",
          imageSrc: "sergioHead.png",
          exercises: [
            "Sit up 5x 10",
            "Leg raise 5x 10",
            "Side bend 3x 50",
            "Back squat 5x 3",
            "Back squat 3x 20",
            "Front squat 5x 10",
            "Calf raise (seated) 5x 5",
          ],
        },
        {
          title: "Frank Zane's back & biceps",
          imageSrc: "frankHead.png",
          exercises: [
            "Snatch grip deadlifts 3x (15, 12, 10)",
            "Snatch grip deadlifts - blocks 3x (10, 10, 8)",
            "T-bar rows 3x (12, 10, 8)",
            "Front pulldown 3x 8-10",
            "Dumbbell rows 3x 8-10",
            "Dumbbell concentration curls 3x 8-10",
            "Alternating dumbbell curls 3x 8-10",
            "Incline dumbbell curls 3x (12, 10, 8)",
            "Barbell reverse curls 2x 12",
          ],
        },
        {
          title: "Frank Zane's legs",
          imageSrc: "frankHead.png",
          exercises: [
            "Leg extension warm up 2x30",
            "Back squat 6x (15, 12, 11, 10, 9, 8)",
            "Leg press 3x (15, 12, 10)",
            "Lying leg curls 3x (12, 11, 10)",
            "Leg extension 3x (12, 10, 8)",
            "Standing calf raise 3x (15-20)",
            "Donkey calf raise 4x (20-25)",
            "Seated calf raise 4x 5 (drop set)",
          ],
        },
        {
          title: "Frank Zane's chest & tris",
          imageSrc: "frankHead.png",
          exercises: [
            "Barbell bench press 6x (12, 10, 8, 6, 4, 2)",
            "Incline dumbbell press 4x (10,8, 6, 4-6)",
            "Decline pec flys 3x (12, 10, 8)",
            "Dumbbell pullover 3x (12, 10, 8)",
            "Close grip bench press 3x (12, 10, 8)",
            "One are overhead extension 3x (12, 10, 8)",
            "V-grip press down 3x (12, 10, 8)",
            "Bent-over lateral raise 3x (15, 12, 10)",
            "Lateral cable raise 3x (12, 10, 8)",
          ],
        },
        {
          title: "Ric Drasin's chest & back",
          imageSrc: "ricHead.png",
          exercises: [
            "Dumbbell chest press 4x 8-12",
            "Dumbbell fly 4x 8-12",
            "Cable crossover 4x 8-12",
            "Tricep dips 4x 8-12",
            "Superset: lat pulldown + straight arm pulldown 4x 12",
            "Kneeling lat pull in 4x 10-12",
            "Deadlift 4x 10",
          ],
        },
        {
          title: "Ric Drasin's delts & arms",
          imageSrc: "ricHead.png",
          exercises: [
            "Seated shoulder press (machine) 4x 8",
            "Rear deltoid raises (dumbbells) 3x 15",
            "Seated lateral raises 4x 15",
            "Front raises 3x 15",
            "EZ bar bicep curl 3x 8",
            "Seated dumbbell bicep curl 3x 8",
            "Superset: preacher curl + rope cable curl 3x 8",
            "Tricep pushdown (cable) 4x 12",
            "Tricep kickback (dumbbells) 3x 12",
            "Tricep extensions (rope) 3x 15",
          ],
        },
        {
          title: "Ric Drasin's legs",
          imageSrc: "ricHead.png",
          exercises: [
            "Leg press 5x 25",
            "Leg extension 4x 15",
            "Leg curl 4x 15",
            "Calf raise 6x 15",
          ],
        },
      ],
    });
  </script>
</html>
